td.level, td.repeatable { text-align: center; }

.aspect.a_lantern { color: #ffe300; }
.aspect.a_forge   { color: #ff8e3e; }
.aspect.a_edge    { color: #d7dd49; }
.aspect.a_winter  { color: #beeeff; }
.aspect.a_heart   { color: #fe7e8b; }
.aspect.a_grail   { color: #fe6150; }
.aspect.a_moth    { color: #f2e9c2; }
.aspect.a_knock   { color: #b54efc; }

.aspect.optional,
.choice.optional,
.hazard.curse,
th.aspects > .optional {
	font-style: italic;
}
